<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Travlendar+: Login</title>
</head>

<body>
<div class="outer">
	<div id="mainWrapper">
		<!--<div class="logoContainer"> <img src="Images/logoImage.jpg" class="logo"> </div> -->
		<div class="logoContainer">
			<a class="mainTitle">
				Travlendar+<br></a>
			<a class="subtitle">Organize your daily schedule!</a><br>
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
		</div>
		<div id="emailPasswordContainer">
			<%= form_for(:homepage) do |f| %>
				<%= f.text_field :email, placeholder: 'Nickname/Email', type: 'text', id: 'emailField' %>
				<%= f.text_field :password, placeholder: 'Password', type: 'password' %>
				<%= f.submit 'SIGNUP', name: 'signup', class: "confirmationButton" %>
				<%= f.submit 'LOGIN', name: 'login', class: "confirmationButton" %>
			<% end %>
		</div>

		<div id="loginProvidersContainer">
			<%= link_to image_tag("homepage/externalLogin1.png", alt: "External login provider 1", class: 'externalLoginProvider'), 'http://www.google.com' %>
			<%= image_tag("homepage/externalLogin2.png", alt: "External login provider 2", class: 'externalLoginProvider') %>
			<%= image_tag("homepage/externalLogin3.png", alt: "External login provider 3", class: 'externalLoginProvider') %>
			<%= image_tag("homepage/externalLogin4.png", alt: "External login provider 4", class: 'externalLoginProvider') %>
		</div>
	</div>
</div>
</body>

</html>
