<%= render 'shared/header' %>
<div id="content">
  <%= render 'shared/sidebar' %>
  <section class="mainContent">
  	<% travel_left = true %>
    <% @schedule.each do |item| %>
		<% if item.is_a? Travel %>
			<% travel_mean = Travel::Travel_means.keys[item.travel_mean] %>
			<div class="travel-container">
				<div class="travel-mean">
					<div class="travel-mean-icon icon-<%= travel_mean %>"></div>
  					<div class="calendar-vertical-line"></div>
				</div>
				<div class="travel <%= if travel_left then 'left-align' else 'right-align' end %>">
					<% duration = Time.at(item.end_time - item.start_time).utc %>
					<div><%= if (duration.min > 0) then duration.strftime "%-Hh %-Mmin" else duration.strftime "%-Hh" end%></div>
					<div style="text-transform: capitalize;"><%= travel_mean %></div>
					<div><%= item.distance.round(2) %> km</div>
					<a href=""><div class="detail">Details</div></a>
				</div>
			</div>
  			<% travel_left = !travel_left %>
		<% elsif item.is_a? Meeting %>
			<div class="meeting">
				<div class="meeting-date"><%= item.start_date.strftime "%I:%M %p" %> - <%= item.end_date.strftime "%I:%M %p" %></div>
				<div class="meeting-title"><%= item.title %></div>
				<div class="meeting-location"><%= item.location.description %></div>
				<a href="<%= meeting_path item.id %>"><div class="detail">Details</div></a>
			</div>
		<% elsif item.is_a? DefaultLocation %>
			<div class="default-location">
				<div class="default-location-name"><%= item.name %></div>
				<div class="default-location-location"><%= item.location.description %></div>
				<a href=""><div class="detail">Details</div></a>
			</div>
		<% else %>
			<!--- This is a date separator -->
			<div class="date-separator">
				<div><%= item.strftime "%a %d %b %Y" %></div>
			</div>
		<% end %>
	<% end %>
  </section>
</div>
<%= render 'shared/footer' %>