<% unless defined? day_link %>
	<% day_link = calendar_day_path DateTime.now.year, DateTime.now.month, DateTime.now.day %>
<% end %>
<% unless defined? week_link %>
	<% week_link = calendar_week_path DateTime.now.year, DateTime.now.cweek %>
<% end %>
<% unless defined? month_link %>
	<% month_link = calendar_month_path DateTime.now.year, DateTime.now.month %>
<% end %>
<% unless defined? selected %>
	<% selected = nil %>
<% end %>

<footer>
	<div id="footerLinks">
		<a href="<%= new_meeting_path %>" title="create-meeting">Create Meeting</a>
		<a href="<%= day_link %>" title="calendar-day" class="<%= if selected == 'day' then 'selected' end %>">Day</a>
		<a href="<%= week_link %>" title="calendar-week" class="<%= if selected == 'week' then 'selected' end %>">Week</a>
		<a href="<%= month_link %>" title="calendar-month" class="<%= if selected == 'month' then 'selected' end %>">Month</a>
  	</div>
</footer>
