<div id="emailPasswordContainer">

	<%= form_with scope: :default_location, local: true do |form| %>


		<%= form.label :name, class: 'label' %>
		<%= form.text_field :name, id: 'name', type: 'text' %>
		<div class='date-time-container'>
			<div class='date-container'>
				<%= form.label :day_of_the_week, class: 'label', value: 'Day Of The Week' %>
				<%= form.text_field :day_of_the_week, id: 'dl_date', type: 'text', onfocus: "javascript:$(this).autocomplete('search','');" %>
			</div>
			<div class='time-container'>
				<%= form.label :starting_hour, class: 'label' %>
				<%= form.text_field :starting_hour, class: 'time', id: 'meeting_start_time', type: 'text' %>
			</div>

		</div>
		
		<div id="full-map-container">
			<%= render 'shared/location_with_map', form: form %>
		</div>

		<div id="emailPasswordContainer">
			<div class="radio-button-container">
				<label for="daily">Daily</label>
				<%= radio_button("repetition", "day_of_the_week", "daily", options = {id: 'daily'}) %>
				<label for="weekly">Weekly</label>
				<%= radio_button("repetition", "day_of_the_week", "weekly", options = {checked: true, id: 'weekly'}) %>
			</div>
			<div id="buttonsContainer">
				<%= form.submit 'Create Default Location', class: 'monoConfirmationButton' %>
			</div>

	<% end %>
	</div>

	<script>
	  $(function () {
		  $('#meeting_start_time').timepicker({'step': 5});
	  });


	  $(function () {
		  var users = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
		  $("#dl_date").autocomplete({
			  source: users
		  });
	  });

	</script>


	<%= render 'shared/timepicker' %>