<html>

<head>
  <meta charset="utf-8">
  <title>Travlendar+: Complete Registration</title>
</head>

<body>
  <div class="outer">
    <div id="mainWrapper">
      <div class="logoContainer">
        <a class="title">Complete your regitration!</a>
      </div>
      <div id="emailPasswordContainer">

<%= form_with scope: :user, local: true do |form| %>
  <% if @user %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    <%= form.label :email, class: 'label' %>
    <%= form.text_field :email, type: 'text', value: if @unregisterdUser
        @unregisterdUser.email
      elsif @user.emails
        @user.emails.first.email
    end%>
    <%= form.label :password, class: 'label' %>
    <%= form.text_field :password, type: 'text', value: if @unregisterdUser
        @unregisterdUser.password
      elsif @user.password
        @user.password
    end%>
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, type: 'text'%>
    <%= form.label :surname, class: 'label' %>
    <%= form.text_field :surname, type: 'text' %>
    <%= form.label :nickname, class: 'label' %>
    <%= form.text_field :nickname, type: 'text' %>
    <%= form.label :preference_list, class: 'label' %>
    <%= form.text_field :preference_list, type: 'text' %>

          <div id="buttonsContainer">
    <%= form.submit 'Save User', class: 'monoConfirmationButton'%>
  </div>

<% end %>
      </div>


    </div>
  </div>


</body>

</html>
