<%= render 'shared/header', selected: 'settings' %>
<div id="content">
	<script type="text/javascript"></script>
	<%= render 'shared/calendar_sidebar' %>
	<section class="mainContent">


		<%= render 'shared/title_back_action', title: 'Create Default Location' %>
		<%= render 'shared/new_default_location' %>

	</section>
</div>
<%= render 'shared/footer' %>


