<%= render 'shared/header', selected: 'Profile' %>
<div id="content">
	<script type="text/javascript"></script>
	<%= render 'shared/calendar_sidebar' %>
	<section class="mainContent">

		<%= render 'shared/title_back_action', title: 'Edit User', path: @user %>

		<div id="emailPasswordContainer">

			<%= form_with scope: :user, local: true do |form| %>


				<%= form.label :name, class: 'label' %>
				<%= form.text_field :name, id: 'name', type: 'text', value: @user.name %>
				<%= form.label :surname, class: 'label' %>
				<%= form.text_field :surname, id: 'surname', type: 'text', value: @user.surname %>
				<%= form.label :nickname, class: 'label' %>
				<%= form.text_field :nickname, id: 'nickname', type: 'text', value: @user.nickname %>
				<%= form.label :phone_number, class: 'label' %>
				<%= form.text_field :phone_number, id: 'phone_number', type: 'text', value: @user.phone_number %>
				<%= form.label :website, class: 'label' %>
				<%= form.text_field :website, id: 'website', type: 'text', value: @user.website %>
				<%= form.label :company, class: 'label' %>
				<%= form.text_field :company, id: 'company', type: 'text', value: @user.company %>
				<%= form.label :brief, class: 'label' %>
				<%= form.text_area :brief, id: 'brief', type: 'text', value: @user.brief %>

				<div id="buttonsContainer">
					<%= form.submit 'Edit User', class: 'monoConfirmationButton' %>
				</div>

			<% end %>
			<!-- used to upload file, it doesn't work

				<%= form_tag({action: :post_edit}, multipart: true) do %>
					<%= label :profile_image, 'Profile Image (png only)' %>
					<%= file_field_tag 'profile_image', class: 'white-container' %>
					<div id="buttonsContainer">
						<%= submit_tag 'Upload Image', class: 'monoConfirmationButton' %>
					</div>









			<% end %>

					-->

			<div id="preference-list-container">
				<div class="title-add-container ">
					Emails
					<%= image_tag("add_icon.png", alt: 'add_icon', class: 'add-image', id: 'add_email_button') %>
				</div>
			</div>

			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>

			<div class="add-email-div">
				<%= form_with scope: :email, local: true do |form| %>

					<%= form.text_field :email, id: 'name', type: 'text' %>

					<div id="buttonsContainer">
						<%= form.submit 'Create Email', class: 'monoConfirmationButton' %>
					</div>

				<% end %>
			</div>
			<div id="preference-list-container">
				<% @emails.each do |email| %>
					<div class="constraint-container colored-container light-light-grey-container">
						<%= email.email %>
						<%= link_to image_tag("cancel_icon.png", alt: "Delate", class: 'delete-image'), delete_email_path(user_id: @user.id, email_id: email.id) %>
					</div>


				<% end %>
			</div>

			<div id="preference-list-container">
				<div class="title-add-container ">
					Socials
					<%= image_tag("add_icon.png", alt: 'add_icon', class: 'add-image', id: 'add_social_button') %>
				</div>
			</div>

			<div class="add-social-div">
				<%= form_with scope: :social_user, local: true do |form| %>
					<div class='new-social-content'>
						<div id="choose-social">
							<%= form.label :social, class: 'label' %>
							<%= form.select(:social, [], {}, {class: 'social-input'}) do %>
							<% end %>

						</div>
						<div id="choose-link">
							<%= form.label :link, class: 'label' %>
							<%= form.text_field :link, id: 'link', type: 'text' %>
						</div>

					</div>
					<div id="buttonsContainer">
						<%= form.submit 'Create Social', class: 'monoConfirmationButton' %>
					</div>
				<% end %>
			</div>

			<div id="preference-list-container">
				<% @user.social_users.each do |social_user| %>
					<div class="constraint-container colored-container light-light-grey-container">
						<%= social_user.link %>
						<%= link_to image_tag("cancel_icon.png", alt: "Delate", class: 'delete-image'), delete_social_path(user_id: @user.id, social_user_id: social_user.id) %>
					</div>


				<% end %>
			</div>
		</div>

	</section>
</div>
<%= render 'shared/footer' %>

<script type="text/javascript">

	<% if !@user.valid? %>
	$(window).on('load', function () {
		<% @user.errors.each do |error, message| %>
		displayError("<%= error.to_s %>", "<%= message %>");
		<% end %>
	})
	<% end %>

	<% if !@email.valid? %>
	$(window).on('load', function () {
		<% @email.errors.each do |error, message| %>
		displayError("<%= error.to_s %>", "<%= message %>");
		<% end %>
	})
	<% end %>
</script>

<script>
	$(function () {
		$('#add_email_button').click(function () {
			$('.add-email-div').toggle();
		});
	});

	$(function () {
		$('#add_social_button').click(function () {
			$('.add-social-div').toggle();
		});
	});


	var socials = [];
	<% @socials.each do |social| %>
	socials.push(['<%= social[1][:name] %>', '<%= social[1][:social_id] %>']);
	<% end %>

	$(function () {
		var $inputOperator = $("select[name='social_user[social]']");
		$inputOperator.empty();
		socials.forEach(function (social) {
			$inputOperator.append($("<option>", {value: social[1], html: social[0]}));
		});

	});

</script>