<%= render 'shared/header', selected: 'profile' %>
<div id="content">
	<%= render 'shared/calendar_sidebar' %>
	<section class="mainContent">
		<!-- insierire freccia indietro se non sono me stesso alla pagina prima -->
		<a href='#'>
			<div class=" profile-detail detail light-light-grey-container colored-container only-if-myself">Edit Profile</div>
		</a>

		<div><%= image_tag(if Rails.application.assets.find_asset("profile_images/" + @user.nickname + ".png").nil?
												 "defaultProfileImage.png"
											 else
												 "profile_images/" + @user.nickname + ".png"
											 end, id: "roundedImages") %></div>

		<div id="name-surname">
			<%= @user.name + " " + @user.surname %>
		</div>

		<div id="nickname">
			(<%= @user.nickname %>)
		</div>

		<% unless @user.brief.blank? %>
			<div id="brief">
				<%= @user.brief %>
			</div>
		<% end %>

		<div class="email-container light-light-grey-container colored-container">
			<%= @user.primary_email.email %>
		</div>

		<% unless @user.phone_number.blank? %>
			<div class="email-container light-light-grey-container colored-container">
				<%= @user.phone_number %>
			</div>
		<% end %>

		<% unless @user.website.blank? %>
			<div class="email-container light-light-grey-container colored-container">
				<a href="<%= @user.website %>" target="_blank">Personal Website</a>
			</div>
		<% end %>

		<% unless @user.company.blank? %>
			<div class="email-container light-light-grey-container colored-container">
				<%= @user.company %>
			</div>
		<% end %>

		<div class="profile-page-buttons only-if-myself">
			<div class="colored-container light-grey-container date-time-block">
				<%= link_to('Manage Contacts', contacts_page_path, id: @user.id) %>
			</div>
			<div class="colored-container light-grey-container date-time-block">
				<%= link_to('Manage Contacts', contacts_page_path, id: @user.id) %>
			</div>
		</div>

		<div class="social-container">
			<% @user.social_users.each do |social| %>
				<div class=" social-boxes light-light-grey-container colored-container">
					<%= link_to image_tag(Social.find(social.social_id).icon_path, alt: Social.find(social.social_id).name, class: 'social-icon'), 'http://' + social.link %>
				</div>
			<% end %>
		</div>

		<div class="profile-page-buttons only-if-myself">
			<div class="colored-container light-grey-container date-time-block">
				<%= link_to "Log out", logout_path, method: :delete %>
			</div>
		</div>
	</section>
</div>
<%= render 'shared/footer' %>


<script type="text/javascript">
	<% if  @user.id == current_user.id %>
	$('.only-if-not-myself').hide();
	<% else %>
	$('.only-if-myself').hide();
	<% end %>
</script>


<!-- <%= link_to "Log out", logout_path, method: :delete %>  -->