<%= render 'shared/header' %>
<div id="content">
  <%= render 'shared/sidebar' %>
  <section class="mainContent">
    <div class='innerContent'>
      <div class="title-go-back-block">
        <div class="go-back">
          <%= link_to image_tag('go_back_icon.png', id: 'go-back-image'), @meeting %>
        </div>
        <div class="title-block">
        <h1>  Participants List </h1>
        </div>
        <div class="go-back">
        </div>
      </div>
      <h2> ACCEPTED </h2>
      <div>
        <% @meeting.accepted_participants.each do |meeting_participation| %>
        <%= content_tag(:div, meeting_participation.get_name_surname, class: ["colored-container", "light-blue-container", "participant-container"])%>
        <% end%>

      	<ul id="prefList_active" class="connectedSortable ui-sortable preference-list-ul">
      		<li class="ui-state-default ui-sortable-handle preference-list-li" value=0>Walking </li>
      		<li class="ui-state-default ui-sortable-handle preference-list-li" value=1>Driving </li>
      		<li class="ui-state-default ui-sortable-handle preference-list-li" value=2>Public Transportation </li>
      		<li class="ui-state-default ui-sortable-handle preference-list-li" value=3>Biking </li>
      	</ul>

      	<ul id="prefList_inactive" class="connectedSortable ui-sortable preference-list-ul">
      	</ul>
      </div>
      <h2> PENDING </h2>
      <div>
      	<ul id="prefList_active" class="connectedSortable ui-sortable preference-list-ul">
      		<li class="ui-state-default ui-sortable-handle preference-list-li" value=0>Walking </li>
      		<li class="ui-state-default ui-sortable-handle preference-list-li" value=1>Driving </li>
      		<li class="ui-state-default ui-sortable-handle preference-list-li" value=2>Public Transportation </li>
      		<li class="ui-state-default ui-sortable-handle preference-list-li" value=3>Biking </li>
      	</ul>

      	<ul id="prefList_inactive" class="connectedSortable ui-sortable preference-list-ul">
      	</ul>
      </div>
      <h2> DECLINED </h2>

    </div>
  </section>
</div>
<%= render 'shared/footer' %>
